{% extends 'donorNavbar.html' %}
{% load static %}
{% block main %}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Picked/Completed Request</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'donorDashboard' %}"><i
                                    class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="">Request</a></li>
                            <li class="breadcrumb-item"><a href="">Picked/Completed Request</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Picked/Completed Request</h5>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Request Id</th>
                                    <th>Request By</th>
                                    <th>Requester Mob No.</th>
                                    <th>Food Items</th>
                                    <th>Request Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in foodrequest %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.requestNumber}}</td>
                                    <td>{{i.fullName}}</td>
                                    <td>{{i.mobileNumber}}</td>
                                    <td>{{i.food.FoodItems}}</td>
                                    <td>{{i.requestDate}}</td>

                                    {% if i.status == None %}
                                    <td>Not Update Yet</td>
                                    {% else %}
                                    <td>{{i.status}}</td>
                                    {% endif %}

                                    <td><a href="{% url 'viewRequestDetails' i.id %}" class="text-primary">View</a></td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ basic-table ] end -->

        </div>
    </div>
</section>

{% endblock %}