{% extends 'donorNavbar.html' %}
{% load static %}
{% block main %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">

        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Change Password</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'donorDashboard' %}"><i
                                    class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="">Change Password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->

        <!-- [ Main Content ] start -->
        <div class="row">

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Change Password</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" name="changepassword" onsubmit="return checkpassword()">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Current Password</label>
                                <input type="password" name="oldpassword" class="form-control" placeholder="Enter Current Password" required>
                            </div>

                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" name="newpassword" class="form-control" placeholder="Enter New Password" required>
                            </div>

                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" name="confirmpassword" class="form-control" placeholder="Enter Confirm Password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<script>
    function checkpassword(){
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value){
    alert('New Password and Confirm Password field does not Match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>

{% if error == "no" %}
<script>
    alert('Password updated successfully');
    window.location=('{% url 'logout' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong , try again later');
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Your current password is wrong');
</script>
{% endif %}

{% endblock %}