{% extends 'navbar.html' %}
{% block main %}
{% load static %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Admin Login</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'admin_login' %}">Admin Login</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Admin Login Start -->
<div class="contact">
    <div class="container">
        <div class="section-header text-center">
            <h2>Admin Login</h2>
        </div>
        <div class="contact-img">
            <img src="{% static 'img/contact.jpg' %}" alt="Image">
        </div>
        <div class="contact-form">
            <div id="success"></div>
            <form method="post">
                {% csrf_token %}
                <div class="control-group">
                    <input type="text" name="uname" class="form-control" placeholder="Enter Username" required>
                </div>

                <div class="control-group mt-3">
                    <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
                </div>

                <div>
                    <button class="btn btn-custom mt-5" type="submit">Login Now</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Admin Login End -->

{% if error == "no" %}
<script>
    alert('Logged In Successfully');
    window.location=('{% url 'dashboard' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Invalid Credential. Try Again...');
</script>
{% endif %}

{% endblock %}